body {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-size: cover;
  background-image: url("../images/sky2.jpg");
}

h1 {
  color: goldenrod;
  text-shadow: 2px 1px #404040;
}

h2 {
  color: goldenrod;
  text-shadow: 1px 1px #404040;
}

.wrapper {
  margin: 160px;
}

.form-signin {
  max-width: 380px;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 15px 40px 50px;
  border: 1px solid #404040;
  box-shadow: 2px 2px;
  border-radius: 13px;
}

.form-register {
  max-width: 50%;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 15px 40px 10px;
  border: 1px solid #404040;
  box-shadow: 2px 2px;
  border-radius: 13px;
}

.form-contacts {
  max-width: 80%;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 15px 40px 10px;
  border: 1px solid #404040;
  box-shadow: 2px 2px;
  border-radius: 13px;
}

.form-signin .form-signin-heading, .form-signin .checkbox, .form-group, .form-control, .col{
  margin-bottom: 20px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
  margin-bottom: 20px;
}

.form-signin .form-control {
  padding: 10px;
}

.addUser{
  float: right;
}

.contactOptions {
  float: right;
}

.titleBar {
  padding: 1%;
  background-color: #2e2e2e;
  border-radius: 10px;
}

#exampleModal{
  margin-top: 15%;
}

#logoutButton {
  float: right;
}
